$color-pink: #ff868e;
$color-green: #97eab9;
$color-yellow: #ffd280;
$color-violet: #b4b7ff;
$color-palepink: #fbe0dc;
$color-grey: #f8f8f7;
$color-darkgrey: #8c8c8c;
$color-white: #ffffff;
$color-black: #1d1d1d;
$font: "Jost", sans-serif;
$bold: 500;
$semibold: 400;
$sm: 12px;
$md: 16px;
$lg: 20px;
$xl: 36px;
$xxl: 44px;

body {
  display: block;
  margin: 0px;
  padding: 0px;
  background: $color-grey;
}
.logo {
  display: block;
  margin-top: 44.44px;
  margin-left: 121px;
  margin-bottom: 80.01px;
}
.row {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image {
  justify-content: space-around;
  align-items: center;
}

.girl {
  margin-top: -101px;
  margin-right: -20px;
  justify-content: space-around;
  align-items: center;
}
.background {
  width: 680px;
  height: 850px;
  background: $color-palepink;
  border-radius: 20px;
  margin: 30px 30px 30px 75px;
  display: flex;
  justify-content: flex-end;
}

.text1 {
  display: flex;
  flex-direction: column;
  margin-left: 133px;
}
h1,
h2,
p {
  font-family: $font;
}

h1 {
  font-size: $xxl;
  color: $color-black;
  font-weight: $bold;
  line-height: 58px;
  margin-bottom: 10px;
}

h2 {
  font-size: $lg;
  color: $color-darkgrey;
  font-weight: $semibold;
  line-height: 28.9px;
  margin-bottom: 60px;
  margin-top: 0px;
}

.text {
  font-size: $lg;
  color: $color-black;
  font-weight: $bold;
  line-height: 28.9px;
  margin-top: 0px;
}
.icon-vote,
.icon-breeds,
.icon-search {
  box-sizing: border-box;
  width: 138px;
  height: 198px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
}

.icon-vote {
  background: $color-violet;
  margin: 20px 10px 10px 139px;
}

.icon-breeds {
  background: $color-green;
  margin: 20px 10px 10px 0px;
}

.icon-search {
  background: $color-yellow;
  margin: 20px 0px 10px 0px;
}

.vote,
.breeds,
.search {
  margin: auto;
}

.icons {
  display: flex;
  flex-direction: row;
}

.boxes {
  display: flex;
}

.voting-word,
.breeds-word,
.gallery-word {
  width: 138px;
  height: 16px;
  font-family: $font;
  font-style: normal;
  font-weight: $bold;
  font-size: $sm;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: $color-pink;
}

.voting-box,
.breeds-box,
.gallery-box {
  width: 138px;
  height: 36px;
  background: $color-white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.voting-box {
  left: 133px;
  margin: 0px 16px 0px 133px;
}
.breeds-box {
  left: 287px;
  margin: 0px 16px 0px 0px;
}
.gallery-box {
  left: 441px;
  margin: 0px 16px 0px 0px;
}
