$color-pink: #ff868e;
$color-green: #97eab9;
$color-yellow: #ffd280;
$color-violet: #b4b7ff;
$color-palepink: #fbe0dc;
$color-grey: #f8f8f7;
$color-darkgrey: #8c8c8c;
$color-white: #ffffff;
$color-black: #1d1d1d;
$font: "Jost", sans-serif;
$bold: 500;
$semibold: 400;
$sm: 12px;
$md: 16px;
$lg: 20px;
$xl: 36px;
$xxl: 44px;

body {
  display: block;
  margin: 0px;
  padding: 0px;
  background: $color-grey;
}
.logo {
  display: block;
  margin-top: 44.44px;
  margin-left: 121px;
  margin-bottom: 80.01px;
}
.girl {
  margin-top: -100px;
}
.background {
  position: absolute;
  width: 680px;
  height: 850px;
  left: 730px;
  top: 30px;
  background: $color-palepink;
  border-radius: 20px;
  margin-right: 30px;
  margin-bottom: 30px;
}
h1,
h2,
p {
  font-family: $font;
  margin-left: 133px;
}

h1 {
  font-size: $xxl;
  color: $color-black;
  font-weight: $bold;
  line-height: 58px;
  margin-bottom: 10px;
}

h2 {
  font-size: $lg;
  color: $color-darkgrey;
  font-weight: $semibold;
  line-height: 28.9px;
  margin-bottom: 60px;
  margin-top: 0px;
}

.text {
  font-size: $lg;
  color: $color-black;
  font-weight: $bold;
  line-height: 28.9px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.icon-vote {
  box-sizing: border-box;

  position: absolute;
  width: 138px;
  height: 198px;
  left: 139px;
  top: 343px;

  background: $color-violet;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  margin: 20px 10px 10px 0px;
}

.vote,
.breeds,
.search {
  margin: auto;
}
.icon-breeds {
  box-sizing: border-box;

  position: absolute;
  width: 138px;
  height: 198px;
  left: 287px;
  top: 343px;

  background: $color-green;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  margin: 20px 10px 10px 0px;
}
.icon-search {
  box-sizing: border-box;

  position: absolute;
  width: 138px;
  height: 198px;
  left: 435px;
  top: 343px;

  background: $color-yellow;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  margin: 20px 0px 10px 0px;
}
.icons {
  margin-top: 20px;
}

.voting-word {
  position: absolute;
  width: 138px;
  height: 16px;
  // top: 561px;

  font-family: $font;
  font-style: normal;
  font-weight: $bold;
  font-size: $sm;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  left: -133px;
  color: $color-pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breeds-word {
  position: absolute;
  width: 138px;
  height: 16px;
  // top: 561px;

  font-family: $font;
  font-style: normal;
  font-weight: $bold;
  font-size: $sm;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  left: -133px;
  color: $color-pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-word {
  position: absolute;
  width: 138px;
  height: 16px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  left: 308px;
  top: 568px;
  color: #ff868e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.voting-box,
.breeds-box,
.gallery-box {
  position: absolute;
  width: 138px;
  height: 36px;
  top: 570px;
  background: $color-white;
  border-radius: 10px;
  margin: 0px 16px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.voting-box {
  left: 133px;
}
.breeds-box {
  left: 287px;
}
.gallery-box {
  left: 441px;
}
